/*main.css*/
html,body{height:100%;}

body, div, span, p, li, pre, input, textarea, a, h1, h2, h3, h4, h5, h6{
	font-family: 빙그레체;
}

#main {
	width: 800px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin: 0px auto;
	box-shadow: 0px 0px 2px #aaa;
	min-height:100%;
}

#header{
	border-bottom:1px solid #999;
}
#header>ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
#header>ul>li{
	/* display:inline-block; */
	float:left;
	width:25%;
	padding:15px 0px;
	margin:0px;
	text-align:center;
}

#header>ul>li:nth-child(even){background:#eee;}
#header>ul>li:nth-child(odd){background:#ddd;}

#header > ul> li:after{
	content:"";
	display:block;
	clear:both;
}

#container{
	min-height:800px;
}

#footer{
	text-align:center;
	padding: 20px 0px 100px 0px;
}
#btns{
	margin-left:8px;
	margin-bottom:40px;
}







