body, div, span, p, input, textarea, textarea, li, dt, dd, a, th, td, h1, h2, h3, h4, h5, h6 {
	font-family:D2coding;
	
}

.container {
	
	width:800px !important;
	
}

table.vertical {
	
	width:200px;
	background-color:#EEE;
	
	
}

table.vertical td {
	
	width:600px;
	
}